/*RESETTING*/
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,a,address,em,img,small,strong,dl,dt,dd,ol,ul,li,table,tbody,tfoot,thead,tr,th,td,article,aside,footer,header,hgroup,nav,section
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article,aside,footer,header,nav,section {
	display: block;
}

ol,ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*=============*/

/*SETTING DEFAULT VALUES*/
h1 {
	font-weight: bold;
	font-size: 24px;
	padding: 5px 0 5px 0;
}

h2 {
	font-weight: bold;
	font-size: 22px;
	padding: 5px 0 5px 0;
}

h3 {
	font-weight: bold;
	font-size: 18px;
	padding: 5px 0 5px 0;
}

p {
	font-size: 16px;
	padding-bottom: 3px;
	padding-top: 3px;
	outline: 0 none;
}

body {
	background-color: #EFF0F1;
	background-image: url(../images/body-bg.gif);
	background-repeat: repeat;
	color: #333333;
	font: 0.95em/1.333 Arial, sans-serif;
	*text-align: center;
}

td {
	text-align: left;
	font-size: 18px;
	padding-bottom: 10px;
}

input[type="text"],input[type="password"] {
	width: 232px;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #BDC7D8;
	margin: 5px;
	padding: 8px 10px;
	line-height: 1.28;
	text-align: left;
}

input[type="submit"] {
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid #BDC7D8;
	margin: 5px;
	padding: 8px 10px;
}
/*=========================*/
.container {
	margin: auto;
	background-color: white;
	box-shadow: 0 0 15px -2px #120707;
	width: 900px;
	text-align: left;
}

body>header {
	margin-top: 20px;
}

body header h1 {
	font-size: 30px;
	padding-top: 50px;
	position: absolute;
	right: 160px;
}

body header h2 {
	color: #717171;
	position: absolute;
	right: 160px;
	padding-top: 80px;
}

header .container {
	background-image: url(../images/kubrickheader.jpg);
	background-position: right;
	background-repeat: repeat-y;
	position: relative;
	height: 180px;
	border-top: 5px solid #0c1872;
}

/*NAVIGATION*/
header nav {
	display: block;
	box-shadow: 0 0 15px -2px black;
	background-image: url(../images/body-bg-green.gif);
	background-repeat: repeat;
	min-height: 50px;
}

header nav ul {
	list-style-type: none;
	margin: auto;
	box-shadow: 0 0 15px -2px black;
	width: 900px;
	background-color: rgb(159, 167, 32);
}

header nav ul li {
	margin-left: 15px;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

header nav ul li a {
	font-size: 18px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	padding: 15px;
	color: white;
}

header nav ul li:hover {
	background-color: rgb(112, 117, 21);
}

body>.container {
	box-shadow: 0 0 10px -2px black;
	margin-bottom: 20px;
}

.content {
	display: block;
	padding: 20px;
	width: 840px;
	float: left;
	min-height: 300px;
}

/*FOOTER STYLES*/
footer {
	clear: both;
	display: block;
	border-bottom: 5px solid #0c1872;
}

footer .container {
	background-color: rgb(232, 232, 232);
	box-shadow: none;
}

footer div.heading {
	background-color: rgb(159, 167, 32);
}

footer h1 {
	text-align: center;
	font-size: 18px;
	color: white;
}

footer p {
	font-size: 10px;
	font-weight: bold;
	padding: 5px;
}